policy_module(herbcoin, 1.100.1)

########################################
#
# Declarations
#

type herbcoin_t;
type herbcoin_exec_t;
init_daemon_domain(herbcoin_t, herbcoin_exec_t)

permissive herbcoin_t;

type herbcoin_initrc_exec_t;
init_script_file(herbcoin_initrc_exec_t)

type herbcoin_conf_t;
files_type(herbcoin_conf_t)

type herbcoin_var_lib_t;
files_type(herbcoin_var_lib_t)

type herbcoin_var_run_t;
files_type(herbcoin_var_run_t)

type herbcoin_port_t;
corenet_port(herbcoin_port_t)

########################################
#
# herbcoin local policy
#
allow herbcoin_t self:process { fork };

allow herbcoin_t self:fifo_file rw_fifo_file_perms;
allow herbcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(herbcoin_t, herbcoin_conf_t, herbcoin_conf_t)
manage_files_pattern(herbcoin_t, herbcoin_conf_t, herbcoin_conf_t)

manage_dirs_pattern(herbcoin_t, herbcoin_var_lib_t, herbcoin_var_lib_t)
manage_files_pattern(herbcoin_t, herbcoin_var_lib_t, herbcoin_var_lib_t)
files_var_lib_filetrans(herbcoin_t, herbcoin_var_lib_t, { dir file })

manage_dirs_pattern(herbcoin_t, herbcoin_var_run_t, herbcoin_var_run_t)
manage_files_pattern(herbcoin_t, herbcoin_var_run_t, herbcoin_var_run_t)

sysnet_dns_name_resolve(herbcoin_t)
corenet_all_recvfrom_unlabeled(herbcoin_t)

allow herbcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(herbcoin_t)
corenet_tcp_sendrecv_generic_node(herbcoin_t)
corenet_tcp_sendrecv_all_ports(herbcoin_t)
corenet_tcp_bind_generic_node(herbcoin_t)

gen_require(`
    type herbcoin_port_t;
')
allow herbcoin_t herbcoin_port_t:tcp_socket name_bind;

gen_require(`
    type herbcoin_port_t;
')
allow herbcoin_t herbcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(herbcoin_t)

files_read_etc_files(herbcoin_t)

miscfiles_read_localization(herbcoin_t)

sysnet_dns_name_resolve(herbcoin_t)

allow herbcoin_t herbcoin_exec_t:file execute_no_trans;
allow herbcoin_t self:process setsched;
corecmd_exec_ls(herbcoin_t)
corenet_tcp_connect_http_port(herbcoin_t)
dev_read_urand(herbcoin_t)
fs_getattr_xattr_fs(herbcoin_t)
kernel_read_system_state(herbcoin_t)
